{% extends "layout.twig"  %}

{% block content %}

    <h2>Welcome</h2>
    <p>Please use the menu at the left to perform Beer Tab  operation. Thank you!</p>

    <div class="line"></div>


{% endblock %}
